/* Définition de la police personnalisée */
@font-face {
  font-family: "MyFont";
  src: url("/public/font.otf") format("opentype"); /* Remplacez 'otf' par 'opentype' */
  font-weight: normal;
  font-style: normal;
}

/* Styles pour l'en-tête (Header) */
.header {
  display: flex; /* Utilise Flexbox pour l'alignement horizontal */
  align-items: center; /* Centre les éléments verticalement */
  justify-content: space-between; /* Espace les éléments de manière égale */
  background-color: #fff7ee; /* Couleur de fond */
  padding: 10px 20px; /* Espacement interne */
  color: black; /* Couleur du texte */
  font-family: "MyFont", sans-serif; /* Application de la police personnalisée */
}

.header-item {
  margin: 0 10px; /* Espacement horizontal entre les éléments */
  font-family: "MyFont", sans-serif; /* Application de la police personnalisée */
}

.header h1 {
  font-size: 1.5rem; /* Taille de police pour le titre */
  font-family: "MyFont", sans-serif; /* Application de la police personnalisée */
  margin: 0; /* Supprime les marges par défaut */
}

.header img {
  height: 90px; /* Taille du logo */
  width: auto; /* Maintient le ratio de l'image */
}

/* Styles pour la navigation */
nav {
  display: flex; /* Utilise Flexbox pour aligner les liens horizontalement */
  gap: 15px; /* Espace entre les liens de navigation */
}

nav a {
  color: black; /* Couleur du texte des liens */
  text-decoration: none; /* Supprime la décoration de texte (soulignement) */
  font-size: 1rem; /* Taille de police pour les liens */
}

nav a:hover {
  text-decoration: underline; /* Souligne le texte au survol */
}

/* Styles pour le pied de page (Footer) */
.footer {
  display: flex; /* Utilise Flexbox pour l'alignement horizontal */
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  background-color: #fff7ee; /* Couleur de fond */
  padding: 20px; /* Espacement interne */
  color: black; /* Couleur du texte */
}

.footer img {
  height: 50px; /* Taille du logo */
  width: auto; /* Maintient le ratio de l'image */
  font-family: "MyFont", sans-serif; /* Application de la police personnalisée */
}

/* Style pour le conteneur principal de la page d'inscription */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
  font-family: "MyFont", sans-serif;
}

.register-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 1rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

.link-container {
  margin-top: 20px;
  text-align: center;
}

.link-container a {
  color: #333;
  text-decoration: none;
}

.link-container a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/* Style pour le conteneur principal de la page de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
  font-family: "MyFont", sans-serif;
}

.login-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 1rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

.link-container {
  margin-top: 20px;
  text-align: center;
}

.link-container a {
  color: #333;
  text-decoration: none;
}

.link-container a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/*ProductList*/

.productlist-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 10px 20px; /* Définissez une valeur de padding-top à 10px */
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  width: calc(100% * 1.5);
}

.product-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.product-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.product-container p {
  font-size: 1rem;
  color: #666;
}

/*ProductPage*/
.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "MyFont", sans-serif; /* Utilisation de la police personnalisée */
}

.product-name {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.product-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-details {
  width: 60%;
  padding: 20px;
}

.product-image {
  width: 40%;
  margin-left: 20px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-details p {
  font-size: 18px;
  margin-bottom: 20px;
}

.add-to-cart {
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: #3e8e41;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
  font-family: "MyFont", sans-serif; /* Utilisation de la police personnalisée */
}

.not-found h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.not-found p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.not-found button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.not-found button:hover {
  background-color: #3e8e41;
}

/* Page Home */
.home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: #fff7ee;
  padding: 20px;
  font-family: "MyFont", sans-serif; /* Utilisation de la police personnalisée */
}

.logo-container {
  flex: 2; /* Occupe 2/3 de l'espace */
  display: flex;
  justify-content: center;
}

.home-logo {
  max-width: 100%;
  height: auto;
}

.home-actions {
  flex: 1; /* Occupe 1/3 de l'espace */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.home-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  font-family: "MyFont";
}

.home-button:hover {
  background-color: #555;
}

.register-link {
  font-size: 1rem;
}

.register-link a {
  color: #333;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/*Profil Page*/
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "MyFont", sans-serif;
  background-color: #ffffff; /* Fond blanc */
}

.profile-details {
  width: 60%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-details strong {
  color: #333;
}

.edit-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  font-family: "MyFont";
}

/*Add Product*/

.add-product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "MyFont";
  background-color: #ffffff;
}

.add-product-form {
  width: 60%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-product-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-button:hover {
  background-color: #3e8e41;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
